.users {
  & .section {
    transition: 0.4s;
    & .title {
      font-size: 18px;
      font-weight: 600;
      transition: 0.4s;
    }
    &:hover {
      margin-right: 15px;
      & .title {
        padding-right: 5px;
      }
    }
    & button.rest {
      opacity: 0.5;
    }
    & .message{
      margin-top: 5px;
    }
    & .row{
      position: relative;
    }
    
  }
}
