.users {
  position: relative;
  & .section {
    transition: 0.4s;
    & .title {
      font-size: 18px;
      font-weight: 600;
      transition: 0.4s;
    }
    & button.rest {
      opacity: 0.5;
    }
    & .message{
      margin-top: 5px;
    }
    & .row{
      position: relative;
    }
  }
  & .re{
    font-size: 17px;
    padding: 7px 25px;
  }
}
