// Color
$main-bg-color: #29375a;
$main-text-color: #29375a;
$second-text-color: #bbbec5;
$second-bg-color: #c1efde;

//  Responsive
$m: 768px;

// Anmition
$trns: 0.4s;
$trns2: 0.2s;

// After Beffoer

%after {
  position: absolute;
  content: "";
  display: block;
}
